
<footer id="layout-footer" class="bg-dark text-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="m-0">
            &#169; ChatBook. All Rights Reserved
          </p>
        </div>
        <div class="col-md-6">
          <nav class="footer-nav text-md-end">
            <ul class="list-inline m-0">
              <li class="list-inline-item">
                <a href="/">Sign Up</a>
              </li>
              <li class="list-inline-item">
                <a href="/sign-in">Sign In</a>
              </li>
              <li class="list-inline-item">
                <a href="/users/auth/google" class="btn btn-primary btn-circle"><i class="fa fa-google-plus"></i></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </footer>
  